@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

a{
    text-decoration: none;
    color: white;
}
.student_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}


.student{
    display: flex;
    padding-left: 10vw;
    padding-right: 10vw;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80vw;
    height: 427px;
    gap: 55px;    
    border: 1px solid #E30613;
}

.student_description{
    display: flex;
    justify-content: space-between;
    width: 80%;
}



.student_description p{
    width: 448px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: "Outfit", sans-serif;
    text-align: left; 
 
}

.student_description h1{
    color: #000;

    font-family: Outfit;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    text-align: left;
}

.student_description button{
    background-color: red;
    border: none;
    width: 150px;
    height: 30px;
    color: white;
    font-size: 20px;
    align-items: center;
    font-family: "Outfit", sans-serif;
    justify-content: center;
    border-radius: 20px;
    font-weight: 500;
    margin-top: -34px;
    margin-left: -230px;
    position: absolute;
 
}

.student_info{
    display: flex;
    justify-content: space-between;
    width: 56%;
    
}

.student_description img{
    width: 225px;
    height: 230px;
    flex-shrink: 0;
   
        
}

.student_info button{
    background-color: red;
    border: none;
    width: 150px;
    height: 30px;
    color: white;
    font-size: 20px;
    align-items: center;
    font-family: "Outfit", sans-serif;
    justify-content: center;
    border-radius: 20px;
    font-weight: 500;
    width: 225px;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 5px;
    
}

@media screen and (max-width: 600px) {
    .imagem{
        
    }

    .student_description h1 {
        text-align: center;
        margin-left: 12vw;
    }
    .student_description p{
        text-align: justify;
        margin-left: 6vw;
    }

    .student_description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .student_description_names{

    }
    .student{
        height: 550px;
        width: 70vw;
    }
    .student{
        display: flex;
        
    }

    .student_description img {
        display: block;
        margin-left: 20vw;
        margin-right: auto;
        width: 42vw;
        height: 42vw;
        flex-shrink: 0;
        margin-top: -300px;
    }
    
    .student_info button{
        width: 20vw;
    }
    .student_info{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 15vw;
    
    }
}

@media screen and (max-width: 900px) {
    .student{
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .student_description_names p{
        width: 100%;
        font-size: 14px;
    }
    .student_description img {
        margin-top: 10px;
    }

}

.footer{
    width: 100vw;
    height: 70px;
}