@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.put_container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.put{
    width: 100%;
    height: 100%;
    border: 1px solid #E30613;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 55px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.put_info{
    display: flex;
    flex-direction: column;
}

.put_info img{
    width: 225px;
    height: 225px;        
}

.put_info #simg{
    color: #000;
    font-size: 15px;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    text-align: center;
    background: rgb(217,217,217,0.25); 
}

.put_info button{
    background-color: red;
    border: none;
    width: 150px;
    height: 30px;
    color: white;
    font-size: 20px;
    align-items: center;
    font-family: "Outfit", sans-serif;
    justify-content: center;
    border-radius: 20px;
    font-weight: 500;
    width: 225px;  
  
}

.put_description label{
    color: rgb(0,0,0,0.3);
    font-size: 15px;
    font-family: "Inter", sans-serif; 
    margin-top: 10px;
}

.put_description #sdescricao {
    color: #000;
    border-radius: 5px;
    border: none; 
    width: 450px;
    height: 120px;
    background: rgb(217, 217, 217, 0.25);  
    padding: 10px;
    text-align: left; /* Texto alinhado à esquerda */
}


.put_description{
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

#scontato, #snome{
    color: #000;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    background: rgb(217,217,217,0.25); 
    border: none;    
}
input:focus-visible {
    outline: none;
}
.put_description, .put_info label{
    text-align: left;
}
textarea{
    resize: none;
}

@media screen and (max-width: 900px) {

    .put_info img {
        margin-top: 20px;
    }

    .edit_info #simg {
        width: 30vw;
        height: 10vw;
        margin-top: 20px;
    }
    .edit{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 55px;
        flex-direction: column;
    }
    .edit_description{
        padding-bottom: 20px;
    }
}