@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.edit_container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.edit{
    width: 980px;
    height: 420px;
    border: 1px solid #E30613;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 55px;
}

.edit_info{
    display: flex;
    flex-direction: column;
}

.edit_info img{
    width: 225px;
    height: 225px;        
}

.edit_info #simg{
    color: #000;
    font-size: 15px;
    padding: 90px 10px;
    border-radius: 5px;
    border: none;
    text-align: center;
    background: rgb(217,217,217,0.25); 
}

.edit_info button{
    background-color: red;
    border: none;
    width: 150px;
    height: 30px;
    color: white;
    font-size: 20px;
    align-items: center;
    font-family: "Outfit", sans-serif;
    justify-content: center;
    border-radius: 20px;
    font-weight: 500;
    width: 225px;  
}

.edit_description label{
    color: rgb(0,0,0,0.3);
    font-size: 15px;
    font-family: "Inter", sans-serif; 
    margin-top: 10px;
}

.edit_description #sdescricao {
    color: #000;
    border-radius: 5px;
    border: none; 
    width: 450px;
    height: 120px;
    background: rgb(217, 217, 217, 0.25);  
    padding: 10px;
    text-align: left; /* Texto alinhado à esquerda */
}


.edit_description{
    display: flex;
    flex-direction: column;
}

#contato, #snome{
    color: #000;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    background: rgb(217,217,217,0.25); 
    border: none;    
}
input:focus-visible {
    outline: none;
}
.edit_description, .edit_info label{
    text-align: left;
}
