.container{
    text-align: center;
}
.container h1{
    color: red;
}
.adicionar{
    border-radius: 10px;
    width: 150px;
    height: 40px;
    background-color: red;
    border: solid red;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.sessao{
    background-color: blue;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lista{
    /* background-color: white; */
    line-height: 90px;
    list-style: none;
}
.lista li{
    background-color: rgb(255, 255, 255);
    width: 90vw;
    margin-left: -40px;
    border: solid red;
    
}
body{
    overflow-x: hidden;
}
